/* ------------------
utilitis or othoriti
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* margin-right: 140px; */
/* margin-left: 140px; */

/*-------------
top part style 
---------------*/
.top-part {
    background: #161616;
    border-radius: 30px;
    display: flex;
    padding-bottom: 100px;

}

.top-text-area {
    width: 50%;
    color: #FFFFFF;
    margin-left: 100px;
}

.top-img {
    margin-left: 100px;
    margin-top: 100px;
}


.top-text-area h1 {
    font-size: 70px;
    font-weight: 700;
    transition: transform 2s;
}

.top-text-area h1:hover {
    transform: skew(-20deg);
    text-shadow: 5px 5px 5px aqua;
}

.watch-live-button {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    background: #DD0000;
    border-radius: 5px;
}


/*------------------
second part style
------------------*/
.second-part {
    display: flex;
    margin-top: 130px;
    justify-content: center;
}


.second-top {
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
    width: 150px;
    height: 150px;

}

.second-top a {
    text-decoration: none;
    color: #161616;
    text-align: center;
    display: block;


}


.button {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
}

.button.red {
    background-color: #DD0000;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
}

.info {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 50px;
}

.player {
    width: 312px;
    border-radius: 10px;
    border: 1px solid #161616;
    box-shadow: 5px 5px 10px #131010;
}

.sub-player {
    margin-left: 20px;
}

.view-all-button {
    text-align: center;
    margin-top: 50px;
    display: none;
}

.view-all-button button {
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    padding: 12px 29px;
    border-radius: 5px;
}

/*--------------------
footer style part
-----------------------*/
footer {
    background-color: #161616;
    margin-top: 130px;
}

.ft-heading {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 130px;

}

.last-part {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    text-align: center;
}

.last-part h4 {
    margin-left: 20px;
    color: #B9B9B9;
    font-size: 16px;
}

.contact-info {
    text-align: center;
}

.contact-info a i:hover {
    color: #DD0000;
}

.contact-info a i {
    font-size: 50px;
    color: gold;

}

/*----------------------
midIa queary for mobile
------------------------*/
@media screen and (max-width:668px) {

    /* first ::part */
    .top-part {
        flex-direction: column;
        align-items: center;
    }

    .top-text-area {
        margin-left: 0;
        text-align: center;
    }

    .top-text-area h1 {
        font-size: 24px;
    }

    .top-img {
        margin-left: 0;
    }

    /* second ::part */
    .second-part {
        flex-direction: column;
        align-items: center;
    }

    .second-top {
        background-color: #FFFFFF;
    }

    .button {
        border: none;
        border-bottom: 1px solid grey;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }

    /* FOOTER STYLE */
    footer {
        width: 100%;
    }

    .last-part h4 {
        margin-top: 24px;
    }

    .last-part {
        flex-direction: column;
        align-items: center;
    }
}

/* MIDEA QUERY FOR TABLET */
@media screen and (min-width:689px) and (max-width:992px) {

    .top-img {
        margin-left: 0;
    }

    /*---------
second-part
-----------*/
    .second-part {
        flex-direction: column;
        align-items: center;
    }

    .second-top {
        background-color: #FFFFFF;
        display: flex;
        width: 500px;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
    }

    .button {
        border: none;
        border-bottom: 1px solid grey;
    }

    .view-all-button {
        display: block;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    /*----------
last-part
-----------*/
    .last-part h4 {
        margin-top: 70px;
    }

    .last-part.show {
        display: block;
    }
}